@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Ubuntu';
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 700;
  src: url('./fonts/Ubuntu-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 500;
  src: url('./fonts/Ubuntu-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  src: url('./fonts/Ubuntu-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 300;
  src: url('./fonts/Ubuntu-Light.ttf') format('ttf');
}

[data-gallery="on"] {
  @apply border-blue-700;
}

[data-gallery="off"] {
  @apply cursor-pointer hover:border-blue-400;
}